//Color
$turque:#7cea9c;
$marine:#2d3047;
$black:#071013;
$white:#ffffff;
//Typography
$font-lato: 'Lato', sans-serif;
//Grid
$max-mobileMax:413px;
$min-mobileMin:414px;
$min-sm:576px;
$min-md:768px;
$min-lg:992px;
$min-xl:1200px;
$min-xxl:1400px;
//Mixin
$min-mobile:414px;
$min-tablet:768px;
$min-laptop:992px;
$min-laptopXL:1440px;
